.expense-row:hover {
    cursor: pointer;
}
.currency {
    color: #66A96B !important;
}
.code {
    background-color: #DDDDDD;
    color: black;
    border-radius: 4px;
    overflow-y: scroll;
    padding: 10px;
}


/* Mobile first queries */
#bloodhound span input {
    width: 100% !important;
}
/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {
    #bloodhound span input {
        width: 48%;
        position: static;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .typeahead {
        margin-left: 14% !important;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}


/*
    Typeahead CSS
*/
.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 48%;
    margin-bottom: 0px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 2px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


.row > #transactionType {
    margin-top: 10px;
}



/* Analysis */
.chart-holder {
    display: flex;
    align-items: center;
    justify-content: center
}
