.flex-parent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 30px;
    margin-left: 15%;
	margin-right: 15%;
}

.flex-item {
    min-width: 5em;
	text-align: center;
	flex-grow: 1;
	/*flex-shrink: 1;*/
	align-items: stretch;
}

.flex-pod {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

.flex-progress {
    flex-grow: 3;
}
.flex-label {
    flex-grow: 1;
}

.flex-elem {
    min-width: 10em;
    text-align: center;
    flex-grow: 1;
    align-items: stretch;
}

@media screen and (max-width: 600px){
    .flex-parent {
        flex-direction: column;
        /*flex-wrap: wrap;*/
        margin-left: 3%;
        margin-right: 3%;
    }
    .flex-item {
        min-width: 7em;
    }
}
/*
    Maybe on large displays do rows, and on small do columns

*/


.header-cell {
    border-bottom: solid black 3px;
}

.header-cell i {
    display: block;
}

.body-cell {
    border: solid 1px #DDD;
}
.first {
    min-width: 10em;
}

.months {
    line-height: 91px;
    /*min-height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;*/
}
.good {
    background-color: #2ECC40;
}
.warn {
    background-color: #FF851B;
}
.danger {
    background-color: #FF4136;
}
