.special-green {
    color: #66A96B;
}
a.special-green:hover{
    color: #3B5F41;
}

.underline {
    border: 2px #66A96B solid;
    padding: 4px;
    border-radius: 5px;
}


.navigation {
    background-color: white;
    height: 64px;

}
.emoji img {
    height: 64px;
    width: 64px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
