
a.special-green:hover{
    color: #3B5F41;
}

.underline {
    border: 2px #66A96B solid;
    padding: 4px;
    border-radius: 5px;
}


.navigation {
    background-color: white;
    height: 64px;
    /*box-shadow: 10px 10px 5px #DDDDDD;*/
}
.special-green {
    background-color: #66A96B;
}
.special-green-color {
    color: #66A96B;
}
.emoji img {
    height: 64px;
    width: 64px;
}
.emoji.small img {
    height: 29px !important;
    width: 29px !important;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-middle {
    /*background-color: #7FDBFF;*/
}
.bottom-spacer {
    margin-bottom: 5%;
}
.button-tertiary {
    background-color: #66A96B;
    color: white;
}
.button-tertiary:hover {
    background-color: #3B5F41;
    color: white;
}


.selected i img {
    box-shadow: 0 5px 2px -2px gray;
}

.center-text {
    text-align: center;
}
.footer-text {
    color: white;
    margin-top: 2rem !important;
}
.footer-text a{
    color: black;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: none;
    color: #DDDDDD;
}
.footer {
    background-color: #66A96B;
}

.faq {
    font-size: 20px;
}

.faq li {
    list-style: lower-alpha;
}
