// This is a small RWD breakpoint store for my generic breakpoints
// I am using my Typography Pen as a default font size, so HTML is 24px
// Using http://pxtoem.com/ to convert the px breakpoints provided by getskeleton.com

$phone: 16.667em;
$phablet: 22.197em;
$tablet: 31.250em;
$desktop: 41.667em;
$xl: 50.00em;

/* Mobile first queries */

/* Larger than mobile */
@mixin phone {
	@media (min-width: $phone) {
		@content;
	}	
}

/* Larger than phablet */
@mixin phablet {
	@media (min-width: $phablet) {
		@content;
	}
}

/* Larger than tablet */
@mixin tablet {
	@media (min-width: $tablet) {
		@content;
	}
}
/* Larger than desktop */
@mixin desktop {
	@media (min-width: $desktop) {
		@content;
	}
}
/* Larger than Desktop HD */
@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}