// _constants.scss

// Brand colors
$primary: #02E560;
$secondary: #21A6FF;
$tertiary: #F4D03F;
$error: #EF4836;
$black: #111111;
$white: #FBFCFC;

$linear-background: linear-gradient(135deg, $white 0%, lighten($secondary, 40%) 100%);