@import 'reset';
@import 'breakpoints';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'constants';
@import 'ComponentStyles';
@import 'forms';

// Include the required mixins
@include typography();

// Generic Styles

// Trumps

*:focus {
    outline: 1px dotted rgba(0,0,0,0) !important;
}
html {
	background: $linear-background;
}

// Utility classes

.center {
	@include phone {
		width: 100vw;
	}
	@include phablet {
		width: 90vw;
	}
	@include tablet {
		width: 85vw;
	}
	@include desktop {
		width: 70vw;
	}
	@include xl {
		width: 60vw;
	}
	margin: 0 auto;
}
.no-margin {
	margin: 0;
}

.tal-center {
	text-align: center;
}
.centerall {
	min-height: calc(100vh - 2em);
	width: 100vw;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

a {
	color: currentColor;
	text-decoration: none;

	&:active,
	:focus {
		outline-width: 0;
	}

	&:hover {
		border-bottom: solid 4px $tertiary;
	}
	
	&.active-link {
		border-bottom: solid 4px $primary;

		&:hover {
			border-bottom: solid 4px $secondary;
		}
	}

}

// Header

.header {
	color: $black;
	width: 100vw;
	height: 2em;
	line-height: 2em;
}
.headernav {

	&-links > li {
		display: inline-block;
	}
	&-links > li:not(:last-child) {
		@include phone {
			padding-right: 0.25em;
		}
		@include tablet {
			padding-right: 0.5em;
		}
	}
}