.header {
  background-color: var(--quartenary-muted);
}
.nav {
  color: var(--secondary);
  height: 6rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 40rem) {
    height: 3rem;
  }
}
.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0 5em;
  height: 3rem;
  line-height: 3rem;
}

.activeLink {
  composes: link;
  color: var(--tertiary-muted);
  border-bottom: solid var(--thickness);
}