*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.grid {
  display: flex;
}
.grid-row {
  flex-direction: row;
}
.grid-column {
  flex-direction: column;
}
.grid-row-reverse {
  flex-direction: row-reverse;
}
.grid-column-reverse {
  flex-direction: column-reverse;
}
.grid-wrap {
  flex-wrap: wrap;
}
.grid-nowrap {
  flex-wrap: nowrap;
}
.grid-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.grid-justify-start {
  justify-content: flex-start;
}
.grid-justify-end {
  justify-content: flex-end;
}
.grid-justify-center {
  justify-content: center;
}
.grid-justify-between {
  justify-content: space-between;
}
.grid-justify-around {
  justify-content: space-around;
}
.grid-align-items-start {
  align-items: flex-start;
}
.grid-align-items-end {
  align-items: flex-end;
}
.grid-align-items-center {
  align-items: center;
}
.grid-align-items-stretch {
  align-items: stretch;
}
.grid-align-items-baseline {
  align-items: baseline;
}
.grid-align-content-start {
  align-content: flex-start;
}
.grid-align-content-end {
  align-content: flex-end;
}
.grid-align-content-center {
  align-content: center;
}
.grid-align-content-stretch {
  align-content: stretch;
}
.grid-align-content-between {
  align-content: space-between;
}
.grid-align-content-around {
  align-content: space-around;
}

.item-align-start {
  align-self: flex-start;
}
.item-align-end {
  align-self: flex-end;
}
.item-align-center {
  align-self: center;
}
.item-align-baseline {
  align-self: baseline;
}
.item-align-stretch {
  align-self: stretch;
}

.btn {
  -webkit-appearance: none;
  padding: 0.125em 0.5em;
  outline-width: 0;
  border-radius: 10px;
  border: solid 4px currentColor;
}
.btn-large {
  padding: 0.125em 1em;
}
.btn-fill {
  margin-left: 0.375em;
  width: calc(100% - 0.75em);
}
.btn-ghost {
  color: #02E560;
  background-color: #edf8ff;
  transition: all 500ms;
}
.btn-ghost:active {
  transition: all 500ms;
  color: #21A6FF;
}
.btn-ghost:hover {
  transition: all 250ms;
  background-color: #FBFCFC;
}
.btn-block {
  display: block;
}
.btn-pill {
  display: inline;
  border-radius: 0;
}
.btn-pill-c {
  margin-left: 0;
  margin-right: 0;
}
.btn-pill-r {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-pill-l {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.alert {
  margin-top: 2em;
  padding: .5em 1em;
  border-radius: 10px;
  text-align: center;
}
.alert-danger {
  color: #EF4836;
  background-color: #f79e94;
  border: solid 4px #EF4836;
}
.alert-warn {
  color: #F4D03F;
  background-color: #fae89f;
  border: solid 4px #F4D03F;
}
.alert-info {
  color: #21A6FF;
  background-color: #87cfff;
  border: solid 4px #21A6FF;
}

input {
  -webkit-appearance: none;
  border-radius: 4px;
  border: 0;
  display: block;
  background-color: #aaaaaa;
  padding: 0.25em;
  margin: 0.5em;
}
input:active,
input :focus {
  box-shadow: 0 0 3px 2px #02E560;
}
input:invalid {
  box-shadow: 0 0 3px 2px #fac9c4;
}
input:valid {
  box-shadow: 0 0 3px 2px #02E560;
}
input:not(:empty) {
  box-shadow: 0 0 3px 2px #02E560;
}

html, * {
  font-size: 16px;
  line-height: 1;
  font-family: "Affogato-Regular", "Helvetica Neue", serif;
}
@font-face {
  html, * {
    font-family: 'Affogato-Medium';
    src: url("webfont/Affogato-Medium.eot");
    src: url("webfont/Affogato-Medium.eot?#iefix") format("embedded-opentype"), url("webfont/Affogato-Medium.woff") format("woff"), url("webfont/Affogato-Medium.woff2") format("woff2"), url("webfont/Affogato-Medium.ttf") format("truetype");
  }
}
@font-face {
  html, * {
    font-family: 'Affogato-Regular';
    src: url("webfont/Affogato-Regular.eot");
    src: url("webfont/Affogato-Regular.eot?#iefix") format("embedded-opentype"), url("webfont/Affogato-Regular.woff") format("woff"), url("webfont/Affogato-Regular.woff2") format("woff2"), url("webfont/Affogato-Regular.ttf") format("truetype");
  }
}
@media (min-width: 16.667em) {
  html, * {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (min-width: 22.197em) {
  html, * {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media (min-width: 31.25em) {
  html, * {
    font-size: 22px;
    line-height: 1.6;
  }
}
@media (min-width: 41.667em) {
  html, * {
    font-size: 24px;
    line-height: 1.8;
  }
}
@media (min-width: 50em) {
  html, * {
    font-size: 26px;
    line-height: 2;
  }
}

h1 {
  font-size: calc((112.5% + 0.25vw) * 2.3);
}

h2 {
  font-size: calc((112.5% + 0.25vw) * 1.7);
}

h3 {
  font-size: calc((112.5% + 0.25vw) * 1.3);
}

h4 {
  font-size: calc((112.5% + 0.25vw) * 0.9);
}

h5 {
  font-size: calc((112.5% + 0.25vw) * 0.7);
}

h6 {
  font-size: calc((112.5% + 0.25vw) * 0.5);
}

small {
  font-size: calc((112.5% + 0.25vw) * 0.4);
}

h1, h2, h3, h4, h5, h6, small, p, ul, ol {
  margin: 0 0.5rem;
}

header, h1, h2, h3, h4, h5, h6 {
  font-family: "Affogato-Medium";
}

*:focus {
  outline: 1px dotted transparent !important;
}

html {
  background: linear-gradient(135deg, #FBFCFC 0%, #edf8ff 100%);
}

.center {
  margin: 0 auto;
}
@media (min-width: 16.667em) {
  .center {
    width: 100vw;
  }
}
@media (min-width: 22.197em) {
  .center {
    width: 90vw;
  }
}
@media (min-width: 31.25em) {
  .center {
    width: 80vw;
  }
}
@media (min-width: 41.667em) {
  .center {
    width: 60vw;
  }
}
@media (min-width: 50em) {
  .center {
    width: 50vw;
  }
}

.no-margin {
  margin: 0;
}

.tal-center {
  text-align: center;
}

.centerall {
  min-height: calc(100vh - 2em);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:active,
a :focus {
  outline-width: 0;
}
a:hover {
  border-bottom: solid 4px #F4D03F;
}
a.active-link {
  border-bottom: solid 4px #02E560;
}
a.active-link:hover {
  border-bottom: solid 4px #21A6FF;
}

.header {
  color: #111111;
  width: 100vw;
  height: 2em;
  line-height: 2em;
}

.headernav-links > li {
  display: inline-block;
}
@media (min-width: 16.667em) {
  .headernav-links > li:not(:last-child) {
    padding-right: 0.5em;
  }
}
@media (min-width: 31.25em) {
  .headernav-links > li:not(:last-child) {
    padding-right: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
