.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 3rem;
  background-color: var(--primary);
}

.HeaderNav {
  width: 35rem;
  display: flex;
  justify-content: space-between;
}

.HeaderNavLink {
  text-decoration: none;
}
.HeaderNavLink:focus {
  outline: 1px solid var(--secondary);
}