.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-size: 2.5rem;
  background-color: var(--primary);
}

.HeaderNav {
  max-width: var(--width, 35rem);
  display: flex;
  justify-content: space-between;
}

.HeaderNavLink {
  all: unset;
  text-decoration: none;
  display: inline;
}
.HeaderNavLink:focus {
  border-bottom: solid 2px var(--secondary);
}

.HeaderNavLinkActive {
  composes: HeaderNavLink;
  border-bottom: solid 2px var(--tertiary);
}
