// "_grid.scss"

.grid {
	display: flex;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
.row-reverse {
	flex-direction: row-reverse;
}
.column-reverse {
	flex-direction: column-reverse;
}
.wrap {
	flex-wrap: wrap;
}
.nowrap {
	flex-wrap: nowrap;
}
.wrap-reverse {
	flex-wrap: wrap-reverse;
}
.justify-flex_start {
	justify-content: flex-start;
}
.justify-flex_end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-space_between {
	justify-content: space-between;
}
.justify-space_around {
	justify-content: space-around;
}

