.Grid {
  display: flex;
  padding: var(--spacing);
}
.Grid-item {
  display: flex;
  width: 100%;
  padding: var(--spacing);
  & > * {
    display: flex;
  }
}
.u-size1of12 {
  width: 8.33333333%;
}
.u-size2of12 {
  width: 16.66666667%;
}
.u-size3of12 {
  width: 25%;
}
.u-size4of12 {
  width: 33.33333333%;
}
.u-size5of12 {
  width: 41.66666667%;
}
.u-size6of12 {
  width: 50%;
}
.u-size7of12 {
  width: 58.33333333%;
}
.u-size8of12 {
  width: 66.66666667%;
}
.u-size9of12 {
  width: 75%;
}
.u-size10of12 {
  width: 83.33333333%;
}
.u-size11of12 {
  width: 91.66666667%;
}
.u-size12of12 {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .u-size1of12 {
    width: 8.33333333%;
  }
  .u-size2of12 {
    width: 16.66666667%;
  }
  .u-size3of12 {
    width: 25%;
  }
  .u-size4of12 {
    width: 33.33333333%;
  }
  .u-size5of12 {
    width: 41.66666667%;
  }
  .u-size6of12 {
    width: 50%;
  }
  .u-size7of12 {
    width: 58.33333333%;
  }
  .u-size8of12 {
    width: 66.66666667%;
  }
  .u-size9of12 {
    width: 75%;
  }
  .u-size10of12 {
    width: 83.33333333%;
  }
  .u-size11of12 {
    width: 91.66666667%;
  }
  .u-size12of12 {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .u-md-size1of12 {
    width: 8.33333333%;
  }
  .u-md-size2of12 {
    width: 16.66666667%;
  }
  .u-md-size3of12 {
    width: 25%;
  }
  .u-md-size4of12 {
    width: 33.33333333%;
  }
  .u-md-size5of12 {
    width: 41.66666667%;
  }
  .u-md-size6of12 {
    width: 50%;
  }
  .u-md-size7of12 {
    width: 58.33333333%;
  }
  .u-md-size8of12 {
    width: 66.66666667%;
  }
  .u-md-size9of12 {
    width: 75%;
  }
  .u-md-size10of12 {
    width: 83.33333333%;
  }
  .u-md-size11of12 {
    width: 91.66666667%;
  }
  .u-md-size12of12 {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .u-lg-size1of12 {
    width: 8.33333333%;
  }
  .u-lg-size2of12 {
    width: 16.66666667%;
  }
  .u-lg-size3of12 {
    width: 25%;
  }
  .u-lg-size4of12 {
    width: 33.33333333%;
  }
  .u-lg-size5of12 {
    width: 41.66666667%;
  }
  .u-lg-size6of12 {
    width: 50%;
  }
  .u-lg-size7of12 {
    width: 58.33333333%;
  }
  .u-lg-size8of12 {
    width: 66.66666667%;
  }
  .u-lg-size9of12 {
    width: 75%;
  }
  .u-lg-size10of12 {
    width: 83.33333333%;
  }
  .u-lg-size11of12 {
    width: 91.66666667%;
  }
  .u-lg-size12of12 {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .u-xl-size1of12 {
    width: 8.33333333%;
  }
  .u-xl-size2of12 {
    width: 16.66666667%;
  }
  .u-xl-size3of12 {
    width: 25%;
  }
  .u-xl-size4of12 {
    width: 33.33333333%;
  }
  .u-xl-size5of12 {
    width: 41.66666667%;
  }
  .u-xl-size6of12 {
    width: 50%;
  }
  .u-xl-size7of12 {
    width: 58.33333333%;
  }
  .u-xl-size8of12 {
    width: 66.66666667%;
  }
  .u-xl-size9of12 {
    width: 75%;
  }
  .u-xl-size10of12 {
    width: 83.33333333%;
  }
  .u-xl-size11of12 {
    width: 91.66666667%;
  }
  .u-xl-size12of12 {
    width: 100%;
  }
}
.u-sizeFull {
  width: 100%;
}
